.container {
	max-width: 840px;
	margin: 0 auto;
}
.ikaw {text-align: left;
	display: inline-block;
}

.ako {
	text-align: center;
	list-style-position: inside;
}

.intro {
	text-align: center;
}

.gitnangp {
	text-align: center;
}
p {
	color: black;
}
h3 {
	color: black;
}
.class="about-list-item"> {
	font-style: italic;
}
#my-name {
	color: darkmagenta;
}


/*
Element Selector
Class Selector
ID Selector*/