.container {
	max-width: 840px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}
p {
	color: brown;
}
h3 {
	color: green;
}
.class="about-list-item"> {
	font-style: italic;
}
#my-name {
	color: darkmagenta;
}
/*
Element Selector
Class Selector
ID Selector*/