*{
    box-sizing: border-box;
}
body{
    background-color: #D6D6D6;
    margin:0;
}
.ownerAbout .owner{
    display:block;
    height:350px;
    width:auto;
    border-radius: 500px;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (max-width: 800px){
    .ownerAbout .owner{
        height:250px;
        width:auto;
        margin-bottom:20px;
    }
 }
