*{
    font-family:Arial, Helvetica, sans-serif;
}
.navigation a .logo{
    height: 60px;
    width: auto;
}
.navigation li{
	display: block;
}
.navigation li a{
    display: inline-block;
    padding-left: 40px;
    padding-top: 10px;
    color: #A6FF9A;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.navigation li a:hover{
    color:#FFF6BC;
}
.navigation li a.active{
    color: #5EE9FF;
}
.navigation .dropdown-menu{
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-size: 300px;
}
.navigation #navbarDropdownMenuLink{
    color: #A6FF9A;
    padding-left: 40px;
    margin-left:auto;
    margin-right:auto;
}
.navigation .dropdown-menu li{
    display:block;
    text-decoration: none;
    text-align:center;
}
.navigation .dropdown-item{
    display:block;
    padding-left: 0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.navigation .dropdown-item:hover{
    background-color:rgb(149, 164, 251, 0.50);
}
@media screen and (max-width: 800px){
    .navigation li a{
        display: block;
        padding-left:0;
        padding-top: 0;
        text-align:center;
    }
    .navigation #navbarDropdownMenuLink{
        padding-left: 0;
        text-align:center;
    }
    .navigation .dropdown-menu{
        background-size: 540px;
    }
}
