body{
	background-color: #D296EC;
}
.header_area{
	background-color: #ffffff;
}
.brand,.brand2{
	width: 111.38px;
	border-radius: 100%;

}
.info-front,.btn1,.btn{
	border-radius: 20px;
	background-color: #EBBEFF;
	border-color: #000000;
	border-width: 1.5px;
}
.info-front,.info-right{
	border-radius: 25px;

}
.brand2{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
}
.info-right{
	background-color: #ffffff;
}

.login-form{
	align-items: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.container{
	padding-top: 20px;
}

