@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Italianno&family=Tangerine&display=swap');

body , html
{
    font-family: Courier New;
    margin: auto;
}

#video
{
  object-fit: cover;
  position: fixed;
  z-index: -2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}
@media (min-aspect-ratio: 16/9) {
  #video
  {
    width: 100%;
    height: 100%;
  }
  
}
@media (max-aspect-ratio: 16/9) {
  #video
  {
    width: 100%;
    height: 100%;
  }
  
}
@media (max-width: 767px) {
  #video{
    display: none;
  }
  body {
    background-color: #161616;
    background-size: cover;
  }
}
.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);   
  }
  h1
  {
    font-weight: 400;
    font-size: 120px;
    font-family: 'Tangerine', cursive;
    color: #fff;
    margin-top: 210px;
    margin-bottom: 20px;
  }
  
  p
  {
    color: #f0efc6;
    font-family: 'Italianno', cursive;
    font-size: 60px;
  }
  q
  {
    font-weight: 400;
    font-family: Courier New;
    font-size: 30px;
  }
  
  #myButton {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
  }
  
  #myButton:hover {
    background: #5b632f;
    color: #fff;
  }
