@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Italianno&family=Tangerine&display=swap');

.main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(./assets/img.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(60% at right -10%);
}

.nav-link, .navbar-brand , .dropdown-menu , .form-control
{
  font-weight: 400;
  font-family: Courier New;
  font-size: 18px;
  align-items: center;
  margin: 0px 10px;
}
.navbar-brand
{
  font-weight: 400;
  font-size: 34px;
  font-family: 'Tangerine', cursive;
}
.maincontent {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.maincontent .left{
  position: relative;
}

.maincontent .left h1 {
  color: #fff;
  font-size: 60px;
  margin-top: 160px;
  margin-bottom: 40px;
  line-height: 4px;
  font-weight: 400;
  font-family: 'Tangerine', cursive;
}

.maincontent .left p {
  color: #f0efc6;
  font-family: 'Italianno', cursive;
  font-size: 40px;
  margin-top: 60px;
}

.maincontent .left a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #f2fac4;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.maincontent .left a:hover
{
  background: #5b632f;
  color: rgb(255, 239, 239);
}

.swiper 
{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide 
{
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 420px;
  display: flex;
  justify-content: center;
}

.swiper-slide img 
{
  display: block;
  width: 260px;
  height: 400px;
  outline: 1px solid #FFFFF0;
  border-radius: 10px;
}

.maincontent .swiperimg 
{
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.maincontent .swiperimg img 
{
  width: 320px;
  max-height: max-content;
}
.swiper-slide img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right 
{
  background-image: none;
}

#video
{
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
}
@media (min-aspect-ratio: 16/9) {
  #video
  {
    width: 100%;
    height: 100%;
  }
  
}
@media (max-aspect-ratio: 16/9) {
  #video
  {
    width: 100%;
    height: 100%;
  }
  
}
@media (max-width: 767px) {
  #video{
    display: none;
  }
  body {
    background-color: #161616;
    background-size: cover;
  }
}
.card 
{
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  height: 100%;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.card-title 
{
  font-weight: 400;
  font-size: 60px;
  font-family: 'Tangerine', cursive;
}
.qoute
{
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  color: #f0efc6;;
  height: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  font-family: 'Tangerine', cursive;
}
.btn
{
  color: #fff;
}
.btn:hover
{
 
  background: #f2fac4;
  color: #161616;
  border-radius: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.inner
{
 overflow: hidden;
}
.inner img , .single-brand img
{
transition: all 1.5s ease;
}
.inner:hover img , .single-brand:hover img
{
transform: scale(1.5);
}
.point
{
  margin-top: 160px;
  background-image: url(../assets/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h4
{
  font-weight: 400;
  font-size: 60px;
  font-family: 'Tangerine', cursive;
  color: #fff;
  margin-top: 160px;
  text-align: center;

}
.text4 , .text5
{
  color: #f0efc6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;

}
.btn1
{
 
  color: #161616;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 100px;
  height: auto;
  transition: all .35s;
  display: inline-block;
  position: relative;
  border: none;

}
.btn1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5b632f;
  transition: all .35s;
}

.btn1:hover{
  color: #fff;
}

.btn1:hover:after {
  width: 100%;
}
span
{
  position: relative;
  z-index: 2;
}
h5 
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-bottom: 10px;
}
.d-flex
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
.served
{
  background-color: #5b632f;
  color: #fff;
}
.list-unstyled a
{
  color: #f0efc6;
  text-decoration: none;
}
.list-unstyled a:hover
{
  color: #4caef0;
 
}
