*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#D6D6D6;
}
.navbar{
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-repeat: 2px;
    background-size: 900px;
}
a .logo{
    height: auto;
    width: 250px;
}
li{
	display: block;
}
li a{
    display: inline-block;
    padding-left: 40px;
    padding-top: 10px;
    color: #A6FF9A;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
li a:hover{
    color:#FFF6BC;
}
.dropdown-menu{
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-size: 300px;
}
#user{
    color: #A6FF9A;
    padding-left: 40px;
    margin-left:auto;
    margin-right:auto;
}
.dropdown-menu li{
    display:block;
    text-decoration: none;
    text-align:center;
}
.dropdown-item{
    color: #A6FF9A;
    display:block;
    padding-left: 0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.dropdown-item:hover{
    background-color:#95A4FB;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:200px;
    font-size:50px;
    text-align: center;
}

/*Business Owner's Part*/
.ownerContact .owner{
    display:block;
    height:350px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius: 500px;
    margin-top:10px;
}
.ownerContact h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:200px;
    font-size:40px;
}
.ownerContact h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}
.ownerContact .items{
    text-decoration: none;
    display: inline-block;
    margin-bottom:20px;
}
.ownerContact .text{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-left:10px;
}
.ownerContact i{
    font-size:38px;
}
.ownerContact #facebook{
    color:#4267B2;
}
.ownerContact .num{
    color:#37474F;
}
.ownerContact .email{
    color:#820000;
}
.ownerContact #location{
    color:#FF3D00;
}

/*Developer's Part*/
.developerContact .developer{
    display:block;
    height:200px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius: 500px;
}
.developerContact h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500px;
    font-size:30px;
}
.developerContact h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:28px;
}
.developerContact a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.developerContact .items{
    text-decoration: none;
    display: inline-block;
    margin-bottom:10px;
}
.developerContact .text{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left:10px;
}
.developerContact i{
    font-size:28px;
}
.developerContact .email{
    color:#820000;
}
.developerContact .num{
    color:#37474F;
}
@media screen and (max-width: 800px){
    li a{
        display: block;
        padding-left:0;
        padding-left:0;
        padding-top: 0;
        text-align:center;
    }
    #user{
        padding-left: 0;
        text-align:center;
    }
    .dropdown-menu{
        background-size: 540px;
    }
    h2{
        font-size:40px;
    }
    /*Business Owner's Part*/
    .ownerContact .owner{
        height:300px;
        width:auto;
    }
    .ownerContact h3{
        margin-top:10px;
        font-size:35px;
        text-align: center;
    }
    .ownerContact h4{
        font-size:25px;
        text-align: center;
    }
    .ownerContact .text{
        font-size: 18px;
    }
    .ownerContact i{
        font-size:28px;
    }

    /*Developer's Part*/
    .developerContact .developer{
        height:190px;
        width:auto;
    }
    .developerContact h3{
        margin-top:10px;
        font-size:28px;
        text-align: center;
    }
    .developerContact h4{
        font-size:24px;
        text-align: center;
    }
    .developerContact .text{
        font-size: 18px;
    }
    .developerContact i{
        font-size:28px;
    }
}
