*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#D6D6D6;
    margin: 0 70px 0 70px;
    padding:0;
}
.navbar{
    display:flex;
    align-items:center;
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-repeat: 2px;
    background-size: 800px;
}
.logo img{
    height: 90px;
    width:auto;
}
.logo{
    flex:1;
}
.nav-link ul{
    display:flex;
    align-items:center;
    list-style:none;
    font-size: 20px;
}
.nav-link li {
    padding:15px 70px;
}
.nav-link li a{
    position: relative;
    text-decoration:none;
    color:#A6FF9A;
    padding: 10px 0 10px 0;  
}
.nav-link li a::before{
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height:2px;
}
.nav-link li a::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height:2px;
}
.nav-link a:hover::before, .nav-link a:hover::after{
    left: 0;
    width: 100%;
    background-color:#96A4FB;

}
.nav-link li a:hover{
    color:#FFF6BC;
}
.toggle{
    font-size: 30px;
    display:none;
}

.left{
    float: left;
    width:40%;
    height: 50%;
}
.left .container{
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-repeat: 2px;
    background-size: 800px;
    display:block;
}
.left .container2{
    background-image: url("../assets/BG2.png");
    background-position: center;
    background-repeat: 2px;
    background-size: 800px;
}
.content{
    
}
.content .product{
    height:280px;
    width:auto;
}
.right{
    float: right;
    width:50%;
    height: 50%;
}

@media (max-width:800px){
    body{
        margin: 0;
    }
    .navbar{
        display:block;
        position: relative;
        
    }
    .logo img{
        height: 80px;
        width:auto;
    }
    .nav-link ul{
        margin-top:15px;
        display:none;
    }
    .nav-link ul.active, .toggle{
        display:block;
    }
    .toggle{
        position:absolute;
        top:0;
        right:20%;
    }
}
